body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    font-family: mainText;
    text-align: center;
    background-image: url('images/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: headlineFont;
    src: url(pt-serif.italic.ttf);
}

@font-face {
    font-family: mainText;
    src: url(coolvetica.condensedrg-regular.otf);
}

h1 {
    font-size: 90px;
    letter-spacing: 5px;
    margin: 15px 0;
    font-family: headlineFont;
}

h2 {
    font-size: 60px;
    margin: 0px;
    letter-spacing: 4px;
}

p {
    font-size: 35px;
    margin: 15px 0px;
    letter-spacing: 2px;
}

label {
    font-size: 35px;
}

.white-text {
    color: #D7D7D7;
}

.gold-text {
    color: #C29061;
    font-family: headlineFont;
}


.container {
    /*height: 85vh;*/
    max-width: 65vw;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border: 8px solid #C29061;
    /*border-radius: 10px;*/
    background-color: #1E1E1E;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.highlight {
    color: #d4af37;
}

iframe {
    border: 8px solid #C29061;
    width: 60%;
    height: 300px;
    margin: 15px 0;
}

.age-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.birthday-letters {
    height: 400px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 14s linear infinite;
    animation: spin 14s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}    


.age-num {
    height: 180px;
    position: absolute;
    top: 115px;
}

.where-container {
    margin: 50px 0px;
}

.form-container {
    min-height: 190px;
}

.thank-you {
    display: none;
}
